.header {
  position: absolute;
  top: 0;
  background-color: rgba(00,00,00,0.2);
  width: 100%;

  &__content {
      margin: 0 10%;
      display: flex;
      justify-content: space-between;

    &__headline {
      font-size: 100px;
    }
  }
}
